include mixins/_meta.pug
include mixins/_menu.pug

doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    +titlemeta(title, siteName, description)
    +opengraph(title, siteName, currentPathFull)    
    link(rel="shortcut icon" type="image/png" href="/statics/img/favicon.png")
    link(rel='stylesheet', href='/statics/css/main.css')
    block styles
  body#top
    block header
      header.header
        .container-content
          .header-left
            a(href='/').site-branding
              h1.title=siteName
          .menu-toggle
            input(type="checkbox")#menu-toggle
            label(for="menu-toggle").header-right
              span.css-icon-hamburger
                span Toggle
              span Menu
            .menu-toggle-content
              .header-right            
                +menu(h.menu.main, 'menu')
    block content
    block footer
      footer.footer
        .container-readable.section.text-center
          a(href='/')
            .h3=siteName
          +horizontal-menu(h.menu.footer)
          p.text-small Copyright © <a href="/">#{siteName}</a>, All rights reserved.

    block scripts
      script(src="/statics/js/main.js")
